<ion-header class="custom-ion-header custom-padding-header">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" class="custom-back-button" defaultHref="/menu">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-back-button>
    <ion-title class="custom-title padding-with-back-button"><span style="white-space: normal;">Únase como
        miembro</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-con-personas">
  <ion-title class="custom-title ion-padding-start ion-padding-end ion-text-start"><span
      style="white-space: normal;">Bienvenido!</span></ion-title>
  <p class="ion-padding-botton ion-padding-start ion-padding-end" style="font-size: 20px; margin-top: 5px;">Ingrese su
    código de invitación para unirse</p>
  <ion-input label="Código" label-placement="floating" fill="outline" placeholder="Código de invitación"
    class="custom-input" style="padding-left: 16px !important; padding-right: 16px !important;" [(ngModel)]="code"></ion-input>
  <ion-button (click)="addMember()" expand="block" fill="solid" class="custom-btn btn-solid ion-padding-top">
    Enviar
  </ion-button>
  <div class="overlays">
    <img src="assets//person-images/person-02.png" class="persona p1" />
    <img src="assets//person-images/person-07.png" class="persona p2" />
    <img src="assets//person-images/person-03.png" class="persona p3" />
    <img src="assets//person-images/person-05.png" class="persona p4" />
    <img src="assets//person-images/person-06.png" class="persona p5" />
    <img src="assets//person-images/person-04.png" class="persona p6" />
    <div
      style="width: 287px; height: 287px; position: fixed; top: 79%; left: -7%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 395px; height: 395px; position: fixed; top: 72%; left: -21%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 611px; height: 611px; position: fixed; top: 57%; left: -46%; z-index: -2; background-color: #EA592D; opacity: 0.025; border-radius: 50%;">
    </div>

    <div
      style="width: 28px; height: 28px; position: fixed; top: 56%; left: 41%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 74px; height: 74px; position: fixed; top: 56%; left: -7%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 10px; height: 10px; position: fixed; top: 67%; left: 86%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 30px; height: 30px; position: fixed; top: 79%; left: 10%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
    <div
      style="width: 48px; height: 48px; position: fixed; top: 91%; left: 81%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;">
    </div>
  </div>
</ion-content>

<!-- <ion-footer class="custom-ion-footer ion-padding">
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="custom-btn btn-solid">
      Guardar miembro
    </ion-button>
  </ion-toolbar>
</ion-footer> -->