
<ion-header class="custom-ion-header custom-padding-header" style="background-color: white;">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" class="custom-back-button" defaultHref="/menu">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-back-button>
    <ion-title class="custom-title padding-with-back-button"><span style="white-space: normal;">Descargar código QR</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="width: 100%; height: 500px; position: relative;">
    <swiper-container
      pagination="true"
      navigation="false"
      loop="true"
      style="width: 100%; height: 100%"
      id="mySwiper"
      style="--swiper-theme-color: #EA592D; width: 100%; height: 500px;"
    >
      <swiper-slide>
        <img [src]="'assets/qr1.svg'" style="width: 320px;" />
      </swiper-slide>
      <swiper-slide>
        <img [src]="'assets/qr2.svg'" style="width: 320px;" />
      </swiper-slide>
      <swiper-slide>
        <img [src]="'assets/qr3.svg'" style="width: 320px;" />
      </swiper-slide>
      <swiper-slide>
        <img [src]="'assets/qr2.svg'" style="width: 320px;" />
      </swiper-slide>
    </swiper-container>
    <ion-button fill="clear" class="custom-prev" (click)="slidePrev()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="custom-next" (click)="slideNext()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

</ion-content>

<ion-footer class="custom-ion-footer footer-actions">
  <!-- <ion-toolbar> -->
    <ion-grid>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col size="3" class="action-button">
          <ion-button (click)="getQr()" expand="block" shape="round" fill="outline">
            <ion-icon slot="icon-only" name="download-outline"></ion-icon>
          </ion-button>
          <div class="action-label">Descargar</div>
        </ion-col>

        <ion-col size="3" class="action-button">
          <ion-button expand="block" shape="round" fill="outline" (click)="printPDF()">
            <ion-icon slot="icon-only" name="print-outline"></ion-icon>
          </ion-button>
          <div class="action-label">Imprimir</div>
        </ion-col>

        <ion-col size="3" class="action-button">
          <ion-button expand="block" shape="round" fill="outline" (click)="sharePDF()">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
          </ion-button>
          <div class="action-label">Compartir</div>
        </ion-col>

        <ion-col size="3" class="action-button">
          <ion-button expand="block" shape="round" fill="outline">
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
          <div class="action-label">Ordenar</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-toolbar> -->
</ion-footer>