<ion-header class="ion-padding custom-ion-header custom-padding-header" style="padding-bottom: 0;">
  <ion-toolbar>
    <ion-title *ngIf="this.viewLogin===false && viewOtp!==true" class="custom-title" style="padding-left: 0; padding-right: 0;">
      <span style="white-space: normal;">Te damos la Bienvenida<br>a Quiet ring</span>
    </ion-title>
    <ion-title *ngIf="this.viewLogin===true && viewOtp!==true" class="custom-title">
      <span style="white-space: normal;">Ingresa tu número <br>de télefono</span>
    </ion-title>
    <ion-title *ngIf="viewOtp===true" class="custom-title">
      <span style="white-space: normal;">Verificando el número</span>
    </ion-title>
    <ion-back-button 
      *ngIf="viewOtp===true" 
      slot="start" 
      fill="clear" 
      class="custom-back-button" 
      (click)="openModalBack()"
    >
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="this.viewLogin===false && viewOtp!==true"  class="img-welcome">
    <img src="../../assets/logo-welcome_2.svg" alt="">
  </div>

  <div *ngIf="this.viewLogin===true && viewOtp!==true" [formGroup]="form">
    <p class="custom-paragraph">
      Quietring necesitará verificar tu número de télefono.
    </p>
    <p class="custom-paragraph">
      ¿Cuál es tú número?
    </p>
    <ion-item lines="none">
      <ion-input 
        readonly
        [value]="selectedCountry?.name || ''"
        placeholder="Seleccione un país"
        (click)="openCountryModal()"
        label="País" 
        label-placement="floating" 
        fill="outline" 
        class="custom-input"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" style="padding-top: 1rem;">
      <ion-input 
        readonly
        formControlName="dialCode"
        placeholder="Ej: +1"
        (click)="openCountryModal()"
        label="Indicativo" 
        label-placement="floating" 
        fill="outline" 
        class="custom-input"
        style="width: calc(135px + 1rem); margin-right: 1rem;"
      ></ion-input>
      <ion-input
        placeholder="Digite su número de teléfono"
        label="Número de teléfono" 
        label-placement="floating" 
        fill="outline" 
        class="custom-input"
        type="number" 
        formControlName="cellPhoneNumber"
        name="phoneNumber"
        required
        (keyup.enter)="callOtp()"
      ></ion-input>
    </ion-item>
  </div>

  <div class="otp" *ngIf="viewOtp===true" >
    <p class="custom-paragraph" style="width: 80%; padding: 30px 0 40px;">
      Esperando para detectar automaticamente el SMS enviado.
    </p>
    <div class="input-otp ion-padding-bottom">
      <ion-input
        *ngFor="let input of inputs; let i = index"
        #otpInput
        class="otp-number"
        type="text"
        maxlength="1"
        pattern="[0-9]*"
        inputmode="numeric"
        fill="outline"
        placeholder="-"
        (ionInput)="onInputChange($event, i)"
        (keydown)="onKeyDown($event, i)">
      </ion-input>
    </div>


    <p class="custom-paragraph" style="margin-bottom: 50px;">
      Ingresa el código que enviamos por SMS al {{mobile}}
    </p>

    <p class="custom-paragraph">
      ¿No recibiste el SMS? <br>
      <span 
        class="color-primary" 
        style="text-decoration: underline; font-weight: bold; cursor: pointer;"
        [style.opacity]="puedeReenviar ? '1' : '0.5'"
        (click)="puedeReenviar && sendOtp()">
        Vuelve a enviar el código
      </span><br>
      <span *ngIf="!puedeReenviar">Espera ({{tiempo}})</span><br>
    </p>

    <p class="custom-paragraph" style="margin-top: 3rem;">
      <span class="color-primary" style="text-decoration: underline; font-weight: bold;"> Más Opciones</span>
    </p>
  </div>
</ion-content>

<ion-footer class="custom-ion-footer ion-padding" style="box-shadow: none;">
  <!-- <ion-toolbar> -->
    <ng-container *ngIf="this.viewLogin===false && viewOtp!==true">
      <p class="custom-paragraph">
        Lee nuestras políticas de privacidad toca "Aceptar y continuar" para aceptar las condiciones del servicio.
      </p>
      <ion-button expand="block" fill="solid" class="custom-btn btn-solid" (click)="condition()">
        Aceptar y continuar
      </ion-button>
    </ng-container>

    <ng-container *ngIf="this.viewLogin===true && viewOtp!==true">
      <ion-button expand="block" fill="solid" class="custom-btn btn-solid" (click)="callOtp()">
        Siguiente
      </ion-button>
      <p class="custom-paragraph ion-padding-top">
        Debes tener al menos 18 años de edad para registrarte. Más información sobre cómo trabaja Quietring.
      </p>
    </ng-container>
  <!-- </ion-toolbar> -->
</ion-footer>