<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab tab="home" style="padding-bottom: 75px;">
      <!-- <div id="home-page"> -->
      <ion-header class="custom-ion-header custom-padding-header">
        <ion-toolbar>
          <ion-title class="custom-title"><span style="white-space: normal;">Timbres</span></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="container-content" [scrollY]="true">
        <ion-list class="custom-ion-list">
          <ion-item *ngFor="let item of items" lines="none" style="width: calc(100% - 60px); position: relative; --background: transparent;">
            <ion-toggle 
              class="text" 
              [checked]="item.status"
              (ionChange)="onToggleChange($event, item)"
            >
              {{ item.name }}
            </ion-toggle>
            <!-- <div style="">

            </div> -->
            <ion-button
              class="ion-margin-start"
              shape="round"
              fill="outline"
              [id]="item.id" 
              style="position: fixed; right: 16px;"   
            >
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        
            <ion-popover
              [trigger]="item.id"  
              [dismissOnSelect]="true"
            >
              <ng-template>
                <ion-content>
                  <ion-list class="custom-ion-list">
                    <ion-item button="true" detail="false" *ngFor="let option of options, let i = index">
                      <div class="btn-option-bells" (click)="actions(i, item)">
                        <p style="font-size:1rem;" class="item-label-option">{{option.name}}</p>
                        <ion-icon slot="icon-only" [name]="option.name" [src]="option.src" class="option-icon"></ion-icon>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-list>
        
        <div class="overlays">
          <div class="circles circle-home-1"></div>
          <div class="circles circle-home-2"></div>
          <div class="circles circle-home-3"></div>
        </div>
      </ion-content>
      <!-- </div> -->
    </ion-tab>

    <ion-tab tab="radio" style="padding-bottom: 75px;">
      <!-- <div id="radio-page"> -->
      <ion-header class="custom-ion-header custom-padding-header" style="padding-bottom: 0;">
        <ion-toolbar>
          <ion-buttons slot="start" class="ion-margin-start" style="width: 150px;">
            <img src="assets/logo.svg" alt="logo" class="logo" />
          </ion-buttons>
          <ion-buttons slot="end" class="ion-margin-end">
            <ion-button class="button-option" shape="round" fill="outline">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-buttons>
            <ion-button size="small" fill="outline">Todas</ion-button>
            <ion-button size="small" fill="outline">Perdidas</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <!-- Vista de la lista de llamadas (visible cuando showCallView es false) -->
      <ion-content class="container-contet-call" [scrollY]="true" *ngIf="!showCallView">
        <div class="table-call">
          <div class="text-title">Recientes</div>
          <div class="table">
            <ion-list>
              <ion-item *ngFor="let item of calls" (click)="showCall(item)">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" [src]="item.src" />
                </ion-avatar>
                <p slot="end">{{ item.date }}</p>
                <ion-icon
                  class="ion-margin-start"
                  slot="end"
                  src="assets/icon/inf-red.svg"
                ></ion-icon>
                <ion-label>
                  <h1>{{ item.name }}</h1>
                  <p>
                    <ion-icon
                      [src]="item.call == 'Perdida' ? 'assets/icon/call-declined.svg' : 'assets/icon/call-answer.svg'"
                    ></ion-icon>
                    {{ item.call }}
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-content>
      
      <!-- Vista de llamada activa (visible cuando showCallView es true) -->
      <ion-content class="calling-content" *ngIf="showCallView">
        <div class="calling-container">
          <ion-header class="custom-ion-header">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="hideCall()" class="back-button">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title class="ion-text-center">
                Llamando...
              </ion-title>
              <ion-buttons slot="end">
                <ion-button class="profile-button">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          
          <div class="calling-body">
            <div class="caller-image-container">
              <div class="caller-image-outer">
                <div class="caller-image-inner">
                  <ion-avatar class="caller-avatar">
                    <img [src]="selectedCall?.src" alt="Caller Image">
                  </ion-avatar>
                </div>
              </div>
            </div>
            
            <div class="caller-info">
              <h2>{{ selectedCall?.name }}</h2>
            </div>
            
            <div class="calling-actions">
              <ion-button fill="clear" class="action-button mute-button" shape="circle">
                <ion-icon name="mic-off-outline"></ion-icon>
              </ion-button>
              
              <ion-button fill="clear" class="action-button sound-button" shape="circle">
                <ion-icon name="volume-high-outline"></ion-icon>
              </ion-button>
              
              <ion-button fill="clear" class="action-button videocall-button" shape="circle">
                <ion-icon name="videocam-outline"></ion-icon>
              </ion-button>
              
              <ion-button fill="clear" class="action-button end-call-button" shape="circle">
                <ion-icon name="call-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-content>
      <!-- </div> -->
    </ion-tab>

    <ion-tab tab="add" style="padding-bottom: 75px;">
      <div id="add-page">
        <ion-header class="custom-ion-header custom-padding-header">
          <ion-toolbar>
            <ion-buttons
              class="ion-margin-end"
              slot="start"
              style="visibility: hidden"
            >
              <ion-button class="button-option" shape="round" fill="outline">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title class="custom-title"><span style="white-space: normal;">Más</span></ion-title>
            <ion-buttons class="ion-margin-end" slot="end" style="visibility: hidden">
              <ion-button class="button-option">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="container-content-setting" [scrollY]="true" style="height: 100vh">
          <!-- <div class="container"> -->
          <ion-list class="spaciong-list">
            <ion-item button lines="none" (click)="goToActivateQR()">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/qr.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">
                Activar código QR
              </p>
            </ion-item>
            <ion-item button lines="none" (click)="goToJoinAsAMember()">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/person.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">Únase como miembro</p>
            </ion-item>
            <ion-item button lines="none" (click)="goToCreateDoorbell()">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/bell-outline.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">Agregar timbre</p>
            </ion-item>
          </ion-list>
          <!-- </div> -->
          <div class="overlays">
            <div class="circles circle-add-1"></div>
            <div class="circles circle-add-2"></div>
            <div class="circles circle-add-3"></div>
          </div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab tab="library" style="padding-bottom: 75px;">
      <div id="library-page">
        <ion-header class="custom-ion-header custom-padding-header">
          <ion-toolbar>
            <ion-buttons
              class="ion-margin-end"
              slot="start"
              style="visibility: hidden"
            >
              <ion-button class="button-option" shape="round" fill="outline">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title class="custom-title"><span style="white-space: normal;">Ordenar</span></ion-title>
            <ion-buttons class="ion-margin-end" slot="primary">
              <ion-button class="button-option" shape="round" fill="outline">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="container-content-order" [scrollY]="true">
          <ng-container *ngFor="let item of order">
            <ion-card class="ion-activatable">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-card-content>
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                      <ion-img [src]="item.src" alt="logo"></ion-img>
                    </ion-col>
                    <ion-col size="8">
                      <div
                        class="ion-justify-content-center"
                        style="display: flex"
                      >
                        <div class="ion-text-start ion-padding-start">
                          <h1>{{ item.name }}</h1>
                          <p>{{ item.price }}</p>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="ion-align-self-start ion-text-end" size="1">
                      <div>
                        <ion-icon
                          style="font-size: 18px"
                          slot="start"
                          src="assets/icon/arrow-black.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab tab="search" style="padding-bottom: 75px;">
      <div id="search-page">
        <ion-header class="custom-ion-header custom-padding-header">
          <ion-toolbar>
            <ion-buttons
              class="ion-margin-end"
              slot="start"
              style="visibility: hidden"
            >
              <ion-button class="button-option" shape="round" fill="outline">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title class="custom-title"><span style="white-space: normal;">Ajustes</span></ion-title>
            <ion-buttons class="ion-margin-end" slot="primary">
              <ion-button class="button-option" shape="round" fill="outline">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="container-content-setting" [scrollY]="true">
          <ion-list class="custom-ion-list">
            <ion-item button lines="none" style="--background: transparent;">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/perfil.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">
                Ederlines Gutierrez
              </p>
            </ion-item>
            <ion-item button lines="none" style="--background: transparent;">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/languaje.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">Idiomas</p>
            </ion-item>
            <ion-item button lines="none" style="--background: transparent;">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/privacity.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">Privacidad</p>
            </ion-item>
            <ion-item button lines="none" style="--background: transparent;">
              <ion-icon
                class="ion-no-margin ion-padding-start"
                slot="start"
                src="assets/icon/inf-red.svg"
              ></ion-icon>
              <p class="ion-margin-start ion-margin-vertical">Notificaciones</p>
            </ion-item>
          </ion-list>
          <p class="custom-paragraph">
            Viewport size: {{viewportWidth}} x {{viewportHeight}} <br>
            Screen size: {{screenWidth}} x {{screenHeight}} <br>
            Device pixel ratio {{devicePixelRatio}} <br>
            Physical resolution: {{realWidth}} x {{realHeight}} <br>
          </p>
          <div class="overlays">
            <div style="width: 287px; height: 287px; position: fixed; top: 49%; left: 63%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;"></div>
            <div style="width: 395px; height: 395px; position: fixed; top: 42%; left: 49%; z-index: -2; background-color: #EA592D; opacity: 0.05; border-radius: 50%;"></div>
            <div style="width: 611px; height: 611px; position: fixed; top: 27%; left: 24%; z-index: -2; background-color: #EA592D; opacity: 0.025; border-radius: 50%;"></div>
          </div>
        </ion-content>
      </div>
    </ion-tab>

    <div class="container-menu">
      <div class="container-background-menu">
        <img src="assets/banner-menu.svg" alt="banner menu" class="background-menu"/>
      </div>
      <div class="container-buttons-menu">
        <ion-tab-button  (click)="getRing()" tab="home">
          <ion-icon src="assets/icon/qr-1.svg"></ion-icon>
          <ion-label>Timbres</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="radio">
          <ion-icon src="assets/icon/call.svg"></ion-icon>
          <ion-label>Llamadas</ion-label>
        </ion-tab-button>
  
        <div style="width: 30px;"></div>

        <ion-tab-button tab="add" class="button-add">
          <div class="btn-add">
            <ion-icon src="assets/icon/icon-sum-white.svg"></ion-icon>
          </div>
        </ion-tab-button>
  
        <ion-tab-button tab="library">
          <ion-icon src="assets/icon/carrito.svg"></ion-icon>
          <ion-label>Ordenar</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="search">
          <ion-icon src="assets/icon/setting.svg"></ion-icon>
          <ion-label>Ajustes</ion-label>
        </ion-tab-button>
      </div>
    </div>
  </ion-tabs>
</ion-content>
