<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" fill="clear" class="custom-back-button" *ngIf="!showCodeInput" defaultHref="/login"></ion-back-button>
      <ion-button *ngIf="showCodeInput" (click)="goBackFromCodeInput()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span style="white-space: normal;">{{ showCodeInput ? 'Activar con código de Activación' : 'Activar código QR' }}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Vista de selección de método de activación -->
  <div class="activate-container" *ngIf="!showCodeInput">
    <!-- Ícono principal -->
    <div class="icon-container">
      <ion-icon name="qr-code" class="qr-main-icon"></ion-icon>
    </div>
    
    <!-- Título y descripción -->
    <p style="text-align: center;">Activar tu timbre en segundos! 🔔<br>Elige la opción que más te convenga:</p>
    
    <!-- Instrucciones -->
    <div class="instructions">
      <div class="step-text">1. Escaneo con QR (rápido y sin <span style="font-weight: bold;">complicaciones</span>)</div>
      <div class="step-text"><span style="font-weight: bold;">Paso 1:</span> Enfoca la cámara de tu celular al código QR...</div>
      <a href="#" class="learn-more">Leer más</a>
    </div>
    
    <!-- Opciones de activación -->
    <div class="activation-options">
      <!-- Opción de escaneo QR -->
      <ion-button expand="block" fill="outline" class="qr-button" (click)="goToQrScanner()">
        <div>
          <ion-icon style="font-size: 50px;" name="qr-code-outline" slot="start"></ion-icon>
          <span>Usar código QR</span>
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </div>
      </ion-button>
      
      <!-- Opción de código manual -->
      <ion-button expand="block" fill="outline" class="qr-button" (click)="goToCodeInput()">
        <div>
          <ion-icon style="font-size: 50px;" name="document-text-outline" slot="start"></ion-icon>
          <span>Escribe el código de Activación</span>
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </div>
      </ion-button>
    </div>
  </div>

  <!-- <ion-header>
  <ion-toolbar>
    <ion-title>Escáner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="scanBarcode()">Escanear código</ion-button>
  <ion-button expand="full" color="danger" (click)="cancelScan()">Cancelar escaneo</ion-button>

  <div *ngIf="scannedCode">
    <p><strong>Resultado:</strong> {{ scannedCode }}</p>
  </div>
</ion-content> -->
  
  <!-- Vista de ingreso de código -->
  <div class="code-input-container" *ngIf="showCodeInput">
    <h2 class="instructions-title">Escribe el código de activación</h2>
    
    <div class="code-input-boxes">
      <ion-input
        *ngFor="let input of inputs; let i = index"
        #otpInput
        class="code-digit"
        type="text"
        maxlength="1"
        pattern="[0-9]*"
        inputmode="numeric"
        (ionInput)="onInputChange($event, i)"
        fill="outline"
        placeholder="-">
      </ion-input>
    </div>
    
    <div class="activation-button">
      <ion-button expand="block" (click)="submitCode()" [disabled]="getFullCode().length !== 6">
        Activar
      </ion-button>
    </div>
  </div>
</ion-content> 