.custom-title {
    font-size: 27.5px;
    // margin-top: 23px;
}

.icon-bell {
  text-align: center;
  width: 100%;
  height: 29px;
}

.message {
  text-align: center;
  margin: 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.custom-btn {
  // width: 130px;
  width: 48%;
  padding: 0;
  margin: 0;
}