.custom-title {
    font-size: 27.5px;
    // margin-top: 23px;
}

.icon-bell {
  text-align: center;
  width: 100%;
  height: 29px;
  margin: 30px auto 5px;
}

.message {
  text-align: center;
  margin-top: 0;
}

.content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.custom-btn {
    width: 130px;
}

.button-group {
//   display: flex;
//   gap: 10px;
  margin-top: 10px;
//   justify-content: center;
}