<ion-content class="ion-padding call-content custom-background">

  <div class="container" *ngIf="calling">
    <div class="notification">
      <ion-icon name="notifications" class="icon-bell"></ion-icon>
      <span class="subtitle">Audio de QR Business...</span>
    </div>
    <h1 class="caller-name">Edward Galofre</h1>
    <!-- Slider -->
    <div class="slide-button" #slideContainer>
      <div class="slider" #slider (mousedown)="startSlide($event)" (touchstart)="startSlide($event)">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
      <span class="slide-text">Contestar</span>
    </div>
  </div>

</ion-content>