.custom-title {
    font-size: 27.5px;
    margin-top: 23px;
}

.content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.custom-btn {
    width: 130px;
}

.button-group {
//   display: flex;
//   gap: 10px;
  margin-top: 10px;
//   justify-content: center;
}