<ion-header class="custom-ion-header">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--padding-bottom: 0;" >
  <ion-input 
    label="Editar" 
    label-placement="floating" 
    fill="outline" 
    placeholder="Enter text"
    class="custom-input"
    [(ngModel)]="nameRing"
  ></ion-input>
</ion-content>

<ion-footer class="custom-ion-footer ion-padding" style="padding-top: 0;">
  <!-- <ion-toolbar> -->
    <div class="button-group">
      <ion-button 
        fill="outline" 
        class="custom-btn btn-outline"
        (click)="cancel()" 
      >
        Cancelar
      </ion-button>
      <ion-button 
        fill="solid" 
        class="custom-btn btn-solid"
        (click)="confirm()"
      >
        Editar
      </ion-button>
    </div>
  <!-- </ion-toolbar> -->
</ion-footer>