<ion-header class="custom-ion-header">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content-centered">
  <ion-input 
    label="Editar" 
    label-placement="floating" 
    fill="outline" 
    placeholder="Enter text"
    class="custom-input"
    [value]="data?.value"
  ></ion-input>
  <div class="button-group">
    <!-- <ion-button fill="outline" class="btn-cancel" expand="block" (click)="cancel()">No</ion-button>
    <ion-button class="btn-confirm" expand="block" (click)="confirm()">Sí</ion-button> -->
    <ion-button 
      fill="outline" 
      class="custom-btn btn-outline"
      (click)="cancel()" 
    >
      Cancelar
    </ion-button>
    <ion-button 
      fill="solid" 
      class="custom-btn btn-solid"
      (click)="confirm()"
    >
      Guardar
    </ion-button>
  </div>
</ion-content>