<ion-header class="custom-ion-header">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--padding-bottom: 0; --padding-top: 0;">
  <div class="content-centered" style="width: 100%; height: 100%;">
    <p class="message">{{ message }}</p>
  </div>
</ion-content>
<ion-footer class="custom-ion-footer ion-padding" style="padding-top: 0;">
  <!-- <ion-toolbar> -->
    <div class="button-group">
      <ion-button 
        fill="outline" 
        class="custom-btn btn-outline"
        (click)="cancel()" 
      >
        No
      </ion-button>
      <ion-button 
        fill="solid" 
        class="custom-btn btn-solid"
        (click)="confirm()"
      >
        Si
      </ion-button>
    </div>
  <!-- </ion-toolbar> -->
</ion-footer>


<!-- 
<ion-content padding class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <div class="modal-content">
      <div class="button-group">
        <ion-button fill="outline" class="btn-cancel" expand="block" (click)="'cancel()'">No</ion-button>
        <ion-button class="btn-confirm" expand="block" (click)="'confirm()'">Sí</ion-button>
      </div>
    </div>
  </div>
  
</ion-content> -->
