ion-checkbox {
  --checkbox-background-checked: #EA592D !important;
}

ion-checkbox::part(container) {
  border-radius: 50%;
  border: 1px solid #B2B2B2;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.custom-btn {
  // width: 130px;
  width: 48%;
  padding: 0;
  margin: 0;
}