
<ion-header class="custom-ion-header custom-padding-header" style="padding-bottom: 0;">
  <ion-toolbar>
    <ion-title class="custom-title"><span style="white-space: normal;">Agregar miembro</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-input 
      label="Nombre" 
      label-placement="floating" 
      fill="outline" 
      placeholder="Buscar Miembro"
      class="custom-input"
    ></ion-input>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets//person-images/person-01.png" />
      </ion-avatar>
      <ion-label>Miembro</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="custom-ion-footer ion-padding" style="padding-top: 0;">
  <!-- <ion-toolbar> -->
    <div class="button-group">
      <ion-button 
        fill="outline" 
        class="custom-btn btn-outline"
        (click)="close()" 
      >
        Cancelar
      </ion-button>
      <ion-button 
        fill="solid" 
        class="custom-btn btn-solid"
        (click)="'goBack()'"
      >
        Siguiente
      </ion-button>
    </div>
  <!-- </ion-toolbar> -->
</ion-footer>