// .input-outline-container {
//   border: none !important;
//   margin-top: .8rem !important;
//   margin-bottom: .8rem !important;
// }

// ion-input {
//   background: #FAFAFA;
// }

:host {
  ion-item {
    border: none !important;
    outline: none;
    margin-bottom: 1rem;
    background-color: #f8f8f8; 
  }

}